@using InertiaCore
@using InertiaCore.Utils

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,100..900&display=swap" rel="stylesheet" >
    
    @Vite.Input("Client/app.css")
    <title inertia>Ëрданью</title>
    
    @await Inertia.Head(Model)
</head>
<body class="font-inter antialiased">

@await Inertia.Html(Model)
@Vite.Input("Client/app.js")
</body>
</html>